<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Todos Tests" verbose="1" >
    <test name="Smoke" >
        <classes>
            <class name="com.test.todo.SmokeTest" />
        </classes>
    </test>

<!-- It is possible to make those tests run in parallel, but it didn't make much of a difference with such quick endpoints -->
    <test name="Contract">
        <classes>
            <class name="com.test.todo.contract.GetTodosTest"/>
            <class name="com.test.todo.contract.PostTodoTest"/>
            <class name="com.test.todo.contract.PutTodoTest"/>
            <class name="com.test.todo.contract.DeleteTodoTest"/>
        </classes>
    </test>
    <test name="App">
        <classes>
            <class name="com.test.todo.logic.AppTest"/>
        </classes>
    </test>
</suite>
